{% extends "blogs/base.html" %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ head }}</h1>
    </div>
    <hr>
    <div class="page">
        <div class="posts col-8">
            {% if posts|length > 0 %}
            {% for post in posts %}
            <div class="post-card">
                <div class="post-title">
                    <h3><a href="{% url 'showPost' post.id %}">{{ post.title }}</a></h3>
                </div>
                <div class="by">
                    <p>--{{ post.user}}</p>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <h3>No Posts yet :(</h3>
            {% endif %}
        </div>
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Tags</h5>
                <hr>
                {% for tag in tags %}
                <a href="{% url 'tagPosts' tag.id %}"><span>{{ tag.tag }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            <div class="previous">
                {% if posts.has_previous %}
                <a href="?page=1"><button class="btn btn-secondary">first</button></a>
                <a href="?page={{ posts.previous_page_number }}"><button class="btn btn-secondary">&laquo; </button></a>
                {% endif %}
            </div>
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            <div class="next">
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"><button class="btn btn-secondary">&raquo;</button></a>
                <a href="?page={{ posts.paginator.num_pages }}"><button class="btn btn-secondary">last</button></a>

                {% endif %}
            </div>
        </span>
    </div>
</div>


{% endblock content %}